@model wssccatIotDashboard.Models.GetKafkaData

@{
    ViewBag.Title = "KafkaValues";
}

<h2>KafkaValues</h2>

<table style="font-family:Arial">
    <tr>
        <td>
            <b>Timestamp:</b>
        </td>
        <td>
            @Model.TimeStamp
        </td>
    </tr>
    <tr>
        <td>
            <b>Raw JSON Data:</b>
        </td>
        <td>
            @Model.TimeStamp
        </td>
    </tr>

</table>
